
#layers { border: thin solid darkgray; padding: 2px;}
.layer { border: thin solid darkgray; margin: 2px 0; }
.template { background: red; display: none; }
.spanbutton { border: thin solid darkgray; cursor: pointer;}
.spanbutton :hover { background: blue; color: white; }
.layer > .delete { background: red; color: white; }

.surface-mask { border: thin solid darkgray; margin: 1px; padding: 1px;}
.surface-mask .mask-controls { border: thin solid darkgray; margin: 1px; padding: 1px;}
.surface-mask .mask-display { border: thin solid darkgray; margin: 1px; padding: 1px;}
.surface-mask .mask-display  canvas { cursor:crosshair; border: thin solid darkgray; }

.layer .layer-controls { border: thin solid darkgray; margin: 1px; padding: 1px; }
.layer .layer-display { border: thin solid darkgray; margin: 1px; padding: 1px; }
.layer .layer-display canvas { cursor:crosshair; border: thin solid darkgray; height: 50; width: 50;}

.layer .layer-anchor input { width: 4em;}